* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form {
  width: 770px;
  background-color: #f9f9f9;
}

h2 {
  font-size: 40px;
  margin: 10px;
  margin-bottom: 50px;
}

p {
  font-size: 20px;
  margin: 10px;
  margin-bottom: 50px;
}

.name {
  margin: 10px;
  padding: 15px 10px;
  padding-right: 22%;
}

.email {
  padding: 15px 10px;
  padding-right: 22%;
}

.phone {
  margin: 10px;
  padding: 15px 10px;
  padding-right: 22%;
}

.Company {
  margin: 10px;
  padding: 15px 10px;
  padding-right: 22%;
}

.Subject {
  margin: 10px;
  padding: 15px 10px;
  padding-right: 545px;
}

.area {
  margin: 10px;
  padding: 13px;
  padding-right: 38px;
}

.submit {
  font-size: 20px;
  margin: 10px;
  margin-top: 15px;
  margin-bottom: 25px;
  padding: 12px 32px;
  background-color: #ed0677;
  color: white;
  border: none;
  border-radius: 4px;
}
