html,body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-image: url(../images/bg.png);
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

.content{
    text-align: center;
    padding-top: 400px;
}

p {
    color: #f8f8f8;
    font-size: 24px;
}

button{
    color: #f8f8f8;
    font-size: 16px;
    padding: 10px 25px;
    border: 1px solid;
    border-color: #f8f8f8;
    border-radius: 4px;
    background-color: transparent;
}

